body {
     background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed;
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/*Validasi CSS*/
.errorRegis{
    display: none;
    background: #F2F2F2;
    padding: 5px;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 14px;
}

.errorRegis2{
    background: white;
    padding: 5px;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 14px;
}
.rmargin{
    margin-top: 20px;
}
.rupdate{
    margin: 15px 0px 0px 0px;
    text-align: center;
}

.rbtn{
    padding: 2px 5px !important;
    font-size: 11px !important;
    margin-right: 2px;
}
.rtext{
    text-decoration: none;
}
.rfloat{
    float: left;
}

.rdate{
    float: right;
    padding: 10px;
}

.rvalidasi{
    border: #f00;
    color: #f00 !important;
    background: #fdd6d687;
    padding: 5px;
    border-radius: 4px;
}

.blue{
    color: #2F73B6;
}

.red{

    color: #E52749;
}

.rhide{
    display: none;
}

.scrolltab{
    overflow: auto;
    min-height: 300px;
    max-height: 480px;
}

.rwidth{
    width: 25px;
}
.rbutton{
    width: 170px;
}

.rfontsize{
    font-size: 12px;
}